*.class
idea
.env
*.log
*.iml
*.ipr
*.iws
*.swp
*.jar
*.war
*.ear
.classpath
.project
build
target
out
/build
/target/

^target/*$


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
